fastapi                 
uvicorn                 

SQLAlchemy              # Sql engine
python-dotenv           # Env file reader

pydantic[email]         # Email Checking
passlib[bcrypt]         # Hashing
python-jose             # Authentication

pytest                  # For testing

JinJa2                  # Templating
aiofiles                