.imageholder {
  @apply flex flex-col justify-center w-full h-full overflow-scroll overflow-y-hidden overflow-x-hidden;
}

.holder {
  @apply flex justify-center items-center;
}

.placeholder {
  @apply m-auto h-5/6 mx-10 bg-gray-100 border-gray-400 border-4 border-dashed rounded-xl;
}
